
.input_area {
    height: 155px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: 0.6s ease all;    
}

.input_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 8px 0 8px;        
}

.input_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px 8px 8px;      
}

.input_area input, textarea {
    width: 90%;
    margin:  8px 16px 0 16px;
    border: 1px solid rgba(165, 165, 165, 0);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(220, 220, 220, 1);
    font-size: 16px;
    font-weight: small;
    outline: none;
    resize: none;   
}

.input_area input:hover, textarea:hover{
    border: 1px solid rgba(165, 165, 165, 0.5);
    background-color:rgba(0, 0, 0, 0);
    box-shadow: 0 0 8px 1px  rgba(0, 153, 255, 0.3) ; 
}

.input_area input:focus, textarea:focus{
    border: 1px solid rgba(165, 165, 165, 0.5);
    box-shadow: 0 0 8px 1px  rgba(0, 153, 255, 0.3) ; 
}

.input_area img:hover {
    filter: drop-shadow(0px 0px 4px  rgba(0, 153, 255, 1));
    background-color: rgba(0, 153, 255, 0.3);
    border-radius: 50%; 
    box-shadow: 0 0 0px 4px  rgba(0, 153, 255, 0.3) ; 
}

