.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(40, 40, 40, 1);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: 0.6s ease all;
    white-space: break-spaces ;
    word-break: break-all;
    text-align: left;
}

.note:hover { 
    box-shadow: 0 0px 8px 1px rgba(0, 153, 255, 1);     
}

.note img {
    height: 32px;
    width: 32px;
    margin:2px;
    cursor: pointer;
    transition: 0.1s ease all;
}

.archive_icon {
    padding-top: 3px;
}

.note img:hover {
    filter: drop-shadow(0px 0px 4px  rgba(0, 153, 255, 1));
    background-color: rgba(0, 153, 255, 0.3);
    border-radius: 50%; 
    box-shadow: 0 0 0 5px  rgba(0, 153, 255, 0.3) ; 
}

.note_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.note_middle {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 8px;
}

.note_bottom {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 8px;      
}